body {
  text-align: center;
}

main {
  margin-top: 4rem;
  display: flex;
}

section {
  width: 100%;
}

ul {
  display: inline-block;
}

.lead {
  font-weight: 700;
}

.form-group {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  padding: 2em;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  border: 2px solid darkblue;
}

.button:hover, .button:focus {
  background-color: white;
  color: darkblue;
}

.results {
  color: darkred;
}
