body {
  text-align: center;
}

main {
  display: flex;
}

section {
  width: 100%;
}

img {
  width: 300px;
  max-width: 100%;
}

figure {
  margin: 0;
}

aside {
  margin-top: 5rem;
}

ul {
  display: inline-block;
}

.lead {
  font-weight: 700;
}

.background-image {
  margin: 0 auto;
  width: 300px;
  max-width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url('https://placebear.com/400/400');
}
