.skip-link {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 100%;
  background-color: #075290;
  padding: .5rem;
  z-index: 50;
  color: #fff;
  font-weight: 700;
}

.skip-link:focus {
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 1rem;
}

h1 {
  margin-top: 0;
  padding-top: 2rem;
}

button {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
  padding: 2em;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  border: 2px solid darkblue;
}

button:hover, button:focus {
  background-color: white;
  color: darkblue;
}
